h1 {
    color:#502688;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #FC90AF;
}
h2 {
    color:#502688;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h3 {
    color:#502688;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
p {
    color:#FC90AF;
    font-family:Arial, Helvetica, sans-serif;
}
hr {
    border: none;
    height: 2px;
    background-color: #502688;
    margin: 20px 0;
  }
a:link {
  color: #FC90AF;
  background-color: transparent;
}

a:visited {
  color: #FC90AF;
  background-color: transparent;
}

a:hover {
  color: #ff0048;
  background-color: transparent;
}

a:active {
  color: #FC90AF;
  background-color: transparent;
}